# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore Rasa data and temporary files
.rasa/
*.db
events.csv

# Models are needed for Render deployment (Docker build)
# To save space, push only the latest model
# models/

# Ignore logs
*.log

# Ignore environment/config files
.env

# Ignore VS Code settings
.vscode/